{% extends 'base.html' %}
{% load static %}


{% block title %}
    - Delete  Users
{% endblock title %}

{% block content %}
   




<div class="card text-center">
    <div class="card-header">
        <h3>Delete User</h3>
        
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <p class="card-text">Are you sure to delete this user: {{user.username}}</p>
            <button class="btn btn-danger">Delete User</button>
        
        </form>
    </div>
    
{% endblock content %}