
{% extends 'base.html' %}
{% load static %}

{% block title %}
    -  Groups
{% endblock title %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a  href="{% url 'add_group' %}" class="btn btn-outline-primary" type="button"> Add Group </a>
</div>
<h1>Groups</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
       <th scope="col">Action</th>
        
      </tr>
    </thead>
   
    <tbody>
        {% for item in groups %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{item.group}}</td>
        <td>{{item.description}}</td>
        
        <td> 
            <a href="{% url 'edit_group' item.pk %}" class="link-delete btn btn-outline-warning ">Edit</a>
            <a href="{% url 'delete_group' item.pk %}" class="btn btn-outline-danger">Del</a>
        </td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock content %}


