{% extends 'base.html' %}
{% load static %}

{% block title %}
    -  Users
{% endblock title %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a  href="{% url 'add_user' %}" class="btn btn-outline-primary" type="button">Add User</a>
    
  </div>
    <h1>Users</h1>
    {% for user in users %}
        <h3>  {{ forloop.counter }}: {{user.first_name}} - {{user.email}}</h3> 
        <!-- <a href="{% url 'add_user' %}" class="link-secondary btn-close"></a> -->

    {% endfor %}

    
{% endblock content %}


